---
import Card from '../components/Card.astro';
import Layout from '../layouts/BlogPost.astro';

import about from '../../public/about.json';
---

<Layout
	title="기타 등등..."
	description="이 페이지에서는 어디에 별도로 작성하기에는 좀 뭐한, 서버 로그인 정보 등에 대해서 간단하게 기재한 내용들을 다룹니다."
	pubDate={new Date('May 14 2024')}
>
	<div class="container">
		{
			about.map(({title, description, contents, comments}) => {
				return <Card class="item"
					title={title}
					description={description}
					contents={contents}
					comments={comments}
				/>
			})
		}
	</div>
</Layout>

<style>
	.container {
		display: grid;
		grid-template-columns: 30% 30% 30%;
		gap: 35px;
		flex-wrap: wrap;
	}

	.item {
		display: flexbox;
		flex-grow: 1;
	}
</style>